---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<Layout title="Chelsea Avery">
  <div transition:name="main" transition:animate="slide">
    <main>
      <Header
        title="Chelsea Avery"
        subtitle="Full Stack Developer"
        github={{
          text: "GitHub",
          href: "https://github.com/chelseaerinavery",
        }}
        blueSky={{
          text: "Bluesky",
          href: "https://bsky.app/profile/chelsea-avery.com",
        }}
        linkedIn={{
          text: "LinkedIn",
          href: "https://www.linkedin.com/in/chelseaavery/",
        }}
      />
      <div class="bio-wrapper">
        <p>
          Hey there, I'm Chelsea - a full stack developer and "Jill of Abundant
          Trades" from Boulder, CO. I'm currently contributing as a front-end
          software engineer to <a href="https://weedmaps.com/" target="_blank"
            >Weedmaps</a
          >.
        </p>
        <p>
          I love to learn new things and find my flow state. Built with
          <a href="https://astro.build/" target="_blank">Astro</a> and <a
            href="https://docs.astro.build/en/guides/integrations-guide/react/"
            target="_blank">React</a
          >.
          <!-- <p>
            Take a look at some of my other current projects:
            <a class="button-link" href="/projects">→</a>
          </p> -->
        </p>
      </div>
    </main>
  </div>

  <style>
    .bio-wrapper {
      font-size: 1rem;
      line-height: 1.5;
    }
    .bio-wrapper a {
      text-decoration: underline;
      color: #42406a;
      font-weight: 500;
    }
    .bio-wrapper a:hover {
      text-decoration: underline;
      color: #0da64f;
    }
  </style>
</Layout>
