---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<Layout title="Chelsea Avery">
  <div>
    <main>
      <Header
        title="Chelsea Avery"
        subtitle="Software Developer"
        github={{
          text: "GitHub",
          href: "https://github.com/chelseaerinavery",
        }}
        blueSky={{
          text: "Bluesky",
          href: "https://bsky.app/profile/chelsea-avery.com",
        }}
        linkedIn={{
          text: "LinkedIn",
          href: "https://www.linkedin.com/in/chelseaavery/",
        }}
      />
      <div class="bio-wrapper">
        <section>
          <p>
            Hi, I’m Chelsea, a full-stack software developer and “Jill of
            Abundant Trades” based in Boulder, CO. I’m currently contributing to
            the front end of
            <a
              href="https://weedmaps.com"
              target="_blank"
              rel="noopener noreferrer">Weedmaps</a
            >, where I help build accessible, responsive web applications using
            React, TypeScript, and Next.js. I love learning new things and
            finding my flow state. I'm especially passionate about the
            intersection of usability, reliability, and accessibility. I love
            data almost as much as I love design.
          </p><p>
            Outside of work, I'm currently:
            <ul>
              <li>
                Completing <a href="https://ui.dev/c/react/" target="_blank"
                  >React.gg</a
                > 💫
              </li>
              <li>
                Fostering a friendly tech community with Boulder Tech Connect ✨
                <ul>
                  <li>
                    BTC @
                    <a
                      href="https://lu.ma/boulder-tech-connect/"
                      target="_blank">Lu.ma</a
                    >
                  </li>
                  <li>
                    BTC @
                    <a
                      href="https://www.meetup.com/boulder-tech-connect/"
                      target="_blank">Meetup.com</a
                    >
                  </li>
                  <li>
                    BTC @ <a
                      href="https://discord.com/channels/1083149430540206120/1308967109828673556"
                      target="_blank">Discord</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </p>
        </section>
        <p></p>
      </div>
    </main>
  </div>
</Layout>

<style>
  .bio-wrapper {
    font-size: 1rem;
    line-height: 1.5;
  }
  .bio-wrapper a {
    text-decoration: underline;
    color: #42406a;
    font-weight: 500;
  }
  .bio-wrapper a:hover {
    text-decoration: underline;
    color: #0da64f;
  }
</style>
