---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import ViewTransitions from "astro/components/ViewTransitions.astro";
---

<Layout title="Chelsea Avery">
  <Header
    title="Chelsea Avery"
    subtitle="Full Stack Developer"
    github={{
      text: "github",
      href: "https://github.com/chelseaerinavery",
    }}
    blueSky={{
      text: "bluesky",
      href: "https://bsky.app/profile/chavery.bsky.social",
    }}
    linkedIn={{
      text: "linkedin",
      href: "https://www.linkedin.com/in/chelseaavery/",
    }}
  />
  <main></main>
</Layout>

<style></style>
