---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<Layout title="Chelsea Avery">
  <div transition:name="main" transition:animate="slide">
    <main>
      <Header
        title="Chelsea Avery"
        subtitle="Full Stack Developer"
        github={{
          text: "GitHub",
          href: "https://github.com/chelseaerinavery",
        }}
        blueSky={{
          text: "BlueSky",
          href: "https://bsky.app/profile/chavery.bsky.social",
        }}
        linkedIn={{
          text: "LinkedIn",
          href: "https://www.linkedin.com/in/chelseaavery/",
        }}
      />
      <div class="projects-wrapper">
        <p>COMING SOON</p>
        <a class="button-link" href="/">←</a>
      </div>
    </main>
  </div>
</Layout>

<style>
  /* .projects-wrapper {
  } */
</style>
